@media (min-width: 768px) {
    #menu-toggle {
        display: none;
    }

    #nav-menu {
        display: flex !important;
        justify-content: center;
    }

    #nav-menu li {
        border: none;
    }

    #nav-menu a {
        padding: 0.75rem 1.5rem;
    }

    #course-list {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .tiles-container {
        flex-direction: row;
        justify-content: space-between;
    }

    #location,
    #course-work {
        flex: 1;
        min-width: 0;
    }

    #location {
        margin-right: 0.5rem;
    }

    #course-work {
        margin-left: 0.5rem;
    }
}